// Place all the styles related to the report_collection controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbar-height: 35px;

html, body, button, select {
  top: 0px;
  // height: 90%;
  margin: 0; padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

a { text-decoration: none }
a:hover { text-decoration: underline }

input[type="text"]
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 100%;
}

nav.navbar {
  top: 0px;
  position: fixed;
  width: 100%;
  height: $navbar-height;
  z-index: 10;
  background-color: #F5F5F5;
  border-bottom: solid black 2px;
  display: block;
}

.navbar-brand {
  position: absolute;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0px 10px;
  text-decoration: none;
  color: black;
}

#info-link {
  position: absolute;
  right: 10px;
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

#info {
  display: none;
  position: absolute;
  margin: 10% 20% 0% 20%;
  font-weight: 300;
  font-size: 1.08em;
  text-align: justify;
  height: auto;
  width: 60%;
  padding: 2em;
  z-index: 9;
  color: white;
  box-sizing: border-box;
  border: solid white 2px;
}

#info-title {
  display: block;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  margin: auto;
  width: 50%;
  border-bottom: solid white 2px;
}

#info a {
  color: white;
  font-weight: 400;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  border: 2px solid black;
  box-sizing: border-box;
}
.row {
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -webkit-box-flex;
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;

  flex-wrap: wrap;
  -webkit-box-wrap: wrap;
  -webkit-box-flex-wrap: wrap;
  -moz-box-wrap: wrap;
  -ms-flexbox-wrap: wrap;
  -webkit-flex-wrap: wrap;

  // -webkit-flex-flow: row wrap;

  // width: 100vw;
  // height: 100vh;
}

.col-xs-8 {
  width: 74vw;
  flex-grow: 5;
  -webkit-box-flex-grow: 5;
  -webkit-box-flex-grow: 5;
  -moz-box-flex-grow: 5;
  -ms-flexbox-grow: 5;
  -webkit-flex-grow: 5;
  margin: auto;
  height: 100vh;
  margin-top: $navbar-height;
  padding: 0px;
  border-left: 2px black solid;
  box-sizing: border-box;
}

.col-xs-4 {
  position: relative;
  width: 24vw;
  flex-grow: 5;
  -webkit-box-grow: 5;
  -webkit-box-flex-grow: 5;
  -moz-box-grow: 5;
  -ms-flexbox-grow: 5;
  -webkit-flex-grow: 5;
  height: 100vh;

  margin: 0px auto;
  background-color: #FEF8B8;
  overflow: scroll;
}

.navbar-form input {
  background-color: transparent;
}

.form-control {
  font-weight: 300;
  font-size: 10pt;
  // height: 25px;
  text-align: center;
  // border-radius: 2px;
  border-style: solid;
  border-right-width: 4px;
  border-bottom-width: 4px;
}

  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
  input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
  input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

.location-search {
  position: relative;
  display: block;
  margin: auto;
  height: 1.8em;
  top: 0px;
  width: 20em;
  text-align:center;
  background-color: transparent;
  border-bottom: 3px black solid;
}

.location-search button {
  border: none;
  background-color: transparent;
  font-size: 1.4em;
  margin-top: 0.1em;
}

.location-search input {
  border: none;
  outline: none;
  // height: auto;
  height: auto;
  font-size: 1.3em;
  font-weight: 800;
  text-transform: uppercase;
}

ul#species-list{
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  letter-spacing: 2px;
}

ul a {
  text-decoration: none;
  color: black;
}

li {
  font-size: 0.9em;
  border-style: solid;
  border-width: 2px 0px;
  border-color: black;
  background-color: #F5F5F5;
  margin: -2px 0px;
  padding: 6px 0px 6px 12px;
}

li:hover{
  font-weight: 600;
}

.select-species span {
  display: inline;
  // margin-left: 12px;
  font-weight: 400;
  border-width: 0px;
  // border-bottom: solid black 2px;
}

.filter-species {
  width: 100%;
  z-index: 10;
}

.filter-species input {
  font-weight: 300;
  width: 94%;
  margin-left: 1.5%;
}

.filter-species-fixed {
  top: 50px;
  width: 24.5%;
  height: 25px;
  position: fixed;
  z-index: 10;
}

.filter-species-fixed input {
  height: 25px;
  width: 94%;
  margin-left: 1.25%;
}

li.active {
  background-color: #f9e79e;
}

li.active span {
  color: black;
  font-weight: 700;
}

#map {
  height: 100%;
  z-index: 2;
}

#map-container {
  height:100%;
  margin-top: -$navbar-height;
  z-index: 4
}

#wikipedia-info {
  position: absolute;
  height: 330px;
  width: 74.7%;
  // margin: 30px 0px 0px 0px;
  margin-top: 30px;
  margin-left: 0.25%;
  padding: 0px;
  z-index: 3;
  background-color: transparent;
  display: none;
}

#wikipedia-info-background {
  display: none;
  height: 340px;
  width: 74.7%;
  position: absolute;
  z-index: 3;

  background-size: 100% auto;
  background-position: 50% 50%;
}

.make-background {
  height: 100%;

  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);

  -webkit-filter: brightness(20%);
  -moz-filter: brightness(20%);
  -o-filter: brightness(20%);
  -ms-filter: brightness(20%);
  filter: brightness(20%);

  opacity: 0.7;
}

.reduce-background {
  height: 35px !important;
}

#view-title {
  display: none;
  position: absolute;
  height: 25px;
  width: 74%;
  margin-left: 0.25%;
  z-index: 4;
  color: white;
  border-bottom: 2px solid white;
}

#view-title h3 {
  margin: 4px auto 4px 4px;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 4px;
  display: inline;
}

#view-button {
  border: none;
  color: white;
  margin-left: 0.5em;
  font-size: 12pt;
  font-weight: 300;
  text-decoration: none;
  font-style: italic;
  letter-spacing: 4px;
}

#wikipedia-info figure {
  margin-left: 0px;
  margin: auto;
  height: 90%;
  width: auto;
  top: 3px;
  position: relative;
  width: 98.5%;
  padding: 0px;
  // border: solid white 2px;
  overflow-y: scroll;
  background-color: transparent;
}

#wikipedia-info figure img {
  float: left;
  position: relative;
  max-height: 283px;
  width: auto;
  top: 6px;
  padding: auto;
  z-index: 1;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

#wikipedia-info figure > a {
  float: left;
  position: relative;
  height: 100%;
  width: auto;
  padding: 0px;
  margin: auto 0;
  top: 0px;
  left: 5px;
}

#wikipedia-info figcaption {
  font-size: 1em;
  font-weight: 300;
  position: relative;
  text-align: justify;
  width: 95%;
  top: 6px;
  left: 2.5%;
  color: white;
}

#wikipedia-info figcaption a{
  color: white;
}

#notice {
  margin-top: $navbar-height;
}

#notice,
#bird-not-found {
  font-size: 0.85em;
  text-align: justify;
  text-justify: inter-word;
  padding: 5px 10px;
}

#nearest-sighting-button {
  border: solid black 2px;
  border-bottom-width: 4px;
  border-right-width: 4px;
  font-size: 1em;
  font-weight: 300;
  margin: 10px auto;
  width: 100%;
  background-color: white;
  padding: 5px;
}

#bird-select,
#mobile-buttons,
#mobile-search-bar,
#bird-not-found {
  display: none;
}

@media screen and (max-width: 600px) , screen and (max-device-width: 700px){

  .container {
    border: none;
  }

  #info {
    width: 90%;
    margin-left: 5%;
    padding: 1em;
    font-size: 0.95em;
  }

  #info-title {
    width: 75%;
  }

  #bird-select {
    width: 90%;
    font-size: 12pt;
    text-align: center;
    display: block;
    margin: 0px auto;
    height: 25px;
  }

  .filter-species {
    display: none;
  }

  .filter-species input {
    display: none;
  }

  li {
    display: none;
  }

  .col-xs-4 {
    width: 100%;
    height: auto;
    // height: 26vh;
    // min-height: 150px;
    z-index: 1;
  }

  .col-xs-8 {
    width: 100%;
    // height: 74vh;
    margin-top: 0px;
    overflow: hidden;
    border-left: none;
  }

  #wikipedia-info {
    width: 100%;
    margin-top: 20px;
    // z-index: 3;
  }

  #wikipedia-info figure {
    height: auto;
    margin-top: 8px;

    padding-bottom: 10px;
    border: none;
    overflow: scroll;
  }

  #wikipedia-info figure > a {
    left: 0px;
    height: auto;
    max-height: auto;
    // width: 96.5%;
    height: 100%;
    width: auto;
  }

  #wikipedia-info figure > a > img {
    height: auto;
    max-height: 100vw;
    // max-height: 100vh;
    max-width: 97.5%;
  }

  #wikipedia-info figcaption {
    width: 100%;
    top: 5px;
    width: 95%;
  }

  #wikipedia-info-background {
    z-index: 0;
    background-position: 50% 50%;
    top: 0px;
    min-width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 0;
    background-size: 400%;
    background-repeat: no-repeat;
  }

  #map-container {
    width: 100vw;
    height: auto;
    // height: 74vh;
    position: absolute;
    margin-top: 0px;
  }

  #map {
    border-top: 2px solid black;
    height: 100%;
    box-sizing: border-box;
  }

  #mobile-buttons {
    position: relative;
    display: inline;
    width: 100%;
    text-align: center;
  }

  .mobile-button {
    display:none;
    position: relative;
    width: 49.8%;
    height: 30px;
    margin: auto;
    border-width: 1px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #F5F5F5;
    outline: none;
    z-index: 5;
    opacity: 0.8;
    font-weight: 600;
  }

  .mobile-button.active {
    background-color: #f9e79e;
  }

  button#bird-map-btn {
    right: 1px;
    float: right;
  }

  button#bird-bio-btn {
    left: 1px;
    float: left;
  }

  #view-button {
    display: none;
  }
}

@media screen and (max-width: 550px){

  .location-search-widen{
    width: 95% !important;
  }

  .location-search {
    width: 1.1em;
    margin: 0.1em auto;
    border: none;
  }

  .location-search input {
    display: none;
  }
}
