<nav class="navbar navbar-default">
    <%= link_to('B I R D R', '/', data: { no_turbolink: true }, class: 'navbar-brand') %>
    <a href="#" id="info-link">A B O U T</a>

    <%= form_tag '/', remote:false, class: 'navbar-form location-search' do %>
        <%= text_field_tag 'location', nil, placeholder: 'SEARCH BY LOCATION', class: 'form-control' %>
        <%= button_tag '', class: 'fa fa-search' %>
    <% end %>
</nav>
