<nav class="navbar navbar-default">
  <div class="container-fluid">
    <%= link_to('B R D R', '/', data: { no_turbolink: true }, class: 'navbar-brand') %>

    <%= form_tag '/', remote:false, class: 'navbar-form location-search' do %>
      <!-- <div class="location-search"> -->
        <%= text_field_tag 'location', nil, placeholder: 'Search By Location', class: 'form-control' %>
        <%= button_tag '&crarr;'.html_safe, class: 'btn btn-default' %>
      <!-- </div> -->
    <% end %>

  </div>
</nav>
